body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #E2E2E2;
  color: #3E3E3E;
}

.currancy-max {
  color: #109D59;
}

.currancy-min {
  color: #DC4437;
}

.sound {
  width: 20px;
  font-size: 25px;
  text-align: left;
  position: fixed;
  left: 15px;
  top: 0px;
  z-index: 9999;
}

.sound i {
  cursor: pointer;
}

.fav-star {
  position: absolute;
  top: 20px;
  right: 5px;
  font-size: 28px;
  cursor: pointer;
  z-index: 9999;
  color: #E2E2E2;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #3E3E3E;
}

.info {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 5px solid #F3F3F3;
  border-radius: 50%;
  cursor: pointer;
  line-height: 30px;
  padding-left: 11px;
  z-index: 99999;
}

a, a:hover {
  text-decoration: none;
  color: #3E3E3E;
}

.container {
  width: 100%;
  vertical-align: middle;
}

.currency-container {
  min-height: 200px;
  padding-left: 0px;
  font-size: 9.5em;
  border-bottom: 1px dotted #3E3E3E;
  overflow: hidden;
}

.currency-type {
  font-size: .3em;
}

.currency-type::after {
  content: "=";
  position: relative;
  left: 20px;
}

.currency-price::before {
  content: "$";
  font-size: .5em;
  top: -20px;
  left: 0px;
  position: relative;
}

.currency {
  margin-left: -1.1em;
  font-size: 0.2em;
}

.left-data {
  margin-top: 3%;
  text-align: left;
  font-size: 0.2em;
  padding: 0px;
}

.side-title {
  font-size: 0.5em;
  font-weight: lighter;
}

.high::before, .low::before {
  content: "$";
  font-size: .5em;
  position: relative;
  bottom: 5px;
}

.high::after, .low::after, .volume::after {
  font-size: .5em;
  position: relative;
  bottom: 0px;
}

.high::after, .low::after {
  content: "MXN";
}

.volume::after{
  content: "/24HRS";
}

@media (max-width: 1200px) {
  .currency-container {
    border-bottom: 2px dotted #3E3E3E;
    text-align: center;
  }

  .left-data {
    text-align: center;
  }
}
