body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #E2E2E2;
  color: #3E3E3E;
}

.navbar {
  color: #fff;
  background-color: #3E3E3E;
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #9d9d9d;
  background-color: #3e3e3e;
}

.navbar-brand {
  color: #fff !important;
  font-family: monospace;
  letter-spacing: 5px;
  font-size: 1.5em;
}

.currancy-max {
  color: #109D59;
}

.currancy-min {
  color: #DC4437;
}

.sound, .question {
  width: 20px;
  cursor: pointer;
  font-size: 25px;
  text-align: left;
  margin-right: 15px;
  margin-top: 5px;
  z-index: 9999;
}

.question {
  margin: 8px 8px 0px 10px;
}

.question a, .question a:hover{
  color: #fff;
}

.sound span {
  cursor: pointer;
  font-size: 21px;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  color: #9d9d9d;
  background-color: #3e3e3e;
}

.dropdown-menu>li>a {
  color: #9d9d9d;
  text-decoration: none;
  background-color: #3e3e3e !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:active, .dropdown-menu>li>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #3e3e3e;
}

.dropdown:hover .dropdown-menu {
  max-height: 200px;
  opacity: 1;
}
.info {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: 5px solid #F3F3F3;
  border-radius: 50%;
  cursor: pointer;
  line-height: 30px;
  padding-left: 11px;
  z-index: 99999;
}

a, a:hover {
  text-decoration: none;
  color: #3E3E3E;
}

.container {
  width: 100%;
  vertical-align: middle;
}

.currency-container {
  min-height: 200px;
  padding-left: 0px;
  font-size: 9.5em;
  border-bottom: 1px dotted #3E3E3E;
  overflow: hidden;
}

.currency-type {
  font-size: .3em;
}

.currency-type::after {
  content: "=";
  position: relative;
  left: 20px;
}

.currency-price::before {
  content: "$";
  font-size: .5em;
  top: -20px;
  left: 0px;
  position: relative;
}

.currency {
  margin-left: -1.1em;
  font-size: 0.2em;
}

.left-data {
  margin-top: 3%;
  text-align: left;
  font-size: 0.2em;
  padding: 0px;
}

.side-title {
  font-size: 0.5em;
  font-weight: lighter;
}

.high::before, .low::before {
  content: "$";
  font-size: .5em;
  position: relative;
  bottom: 5px;
}

.high::after, .low::after, .volume::after {
  font-size: .5em;
  position: relative;
  bottom: 0px;
}

.high::after, .low::after {
  content: "MXN";
}

.btc-content::after, .btc-content::after {
  content: "BTC";
}

.volume::after{
  content: "/24HRS";
}

.modal-header {
  border: none;
}

.modal-content {
  background-color: #E2E2E2;
  color: #3E3E3E;
}

.modal-footer {
  text-align: center !important;
  border: none;
  font-size: .8em;
  position: relative;
  bottom: -14px;
}

.bitso-logo{
  margin-top: 9px;
  width: 200px;
}

.buy-button, .buy-button:hover {
  background-color: #4F5051;
  color: #e2e2e2;
}

.margin-t-20{
  margin-top: 20px;
}

.margin-t-40{
  margin-top: 40px;
}

@media (max-width: 1200px) {
  .currency-container {
    border-bottom: 2px dotted #3E3E3E;
    text-align: center;
  }

  .left-data {
    text-align: center;
  }
}
